﻿@{
	ViewData["Title"] = "CompassCharts";
}

<div class="container fluid">
	<div class="row">
		<div class="offset-1 col-10 text-center">
			<br />
			<h2> <i class="fas fa-tint mb-3 mr-3"></i>Compass X Chart</h2>
			<hr />
			<br />
		</div>
		<div class="offset-1 col-10 algin-left">

			Compass X Chart<canvas id="CompassDataX"></canvas>

		</div>
	</div>
	<div class="row">
		<div class="offset-1 col-10 text-center">
			<br />
			<h2> <i class="fas fa-tint mb-3 mr-3"></i>Compass Y Chart</h2>
			<hr />
			<br />
		</div>
		<div class="offset-1 col-10 algin-left">

			Compass Y Chart<canvas id="CompassDataY"></canvas>

		</div>
	</div>
	<div class="row">
		<div class="offset-1 col-10 text-center">
			<br />
			<h2> <i class="fas fa-tint mb-3 mr-3"></i>Compass Z Chart</h2>
			<hr />
			<br />
		</div>
		<div class="offset-1 col-10 algin-left">

			Compass Z Chart<canvas id="CompassDataZ"></canvas>

		</div>
	</div>
</div>

@{ChartJSCore.Models.Chart CompassDataX = (ChartJSCore.Models.Chart)ViewData["CompassDataX"]; }
@{ChartJSCore.Models.Chart CompassDataY = (ChartJSCore.Models.Chart)ViewData["CompassDataY"]; }
@{ChartJSCore.Models.Chart CompassDataZ = (ChartJSCore.Models.Chart)ViewData["CompassDataZ"]; }
@section Scripts {
	<script>
        @Html.Raw(CompassDataX.CreateChartCode("CompassDataX"));
		@Html.Raw(CompassDataY.CreateChartCode("CompassDataY"));
		@Html.Raw(CompassDataZ.CreateChartCode("CompassDataZ"));
	</script>
}